{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

<section class="intro">
<!-- Title -->	
	<h1>
		<img class="title" src="./images/voreal-logo.svg" alt="Voreal Estética"/>
	</h1>
	<a class="arrow-down" href="#preguntas" onclick="smoothScroll('preguntas');return false">
		<img alt="arrow down" src="./images/arrow-down.png">
	</a>
<!-- Footer section -->
	<svg viewBox="0 0 717 80" class="transition transition--abs transition--bottom"><path d="M5.68434189e-14,80.3951975 L719.999989,80.3951975 L720,0 L5.68434189e-14,80.3951975 Z"></path></svg>
</section>
<!-- Quienes somos -->
<section id="preguntas" class="preguntas">
	<div class="preguntas-container">
		<!-- <div class="section2-photo"></div> -->
		<div class="pregunta-que-somos">
			<h2>¿Qué somos?</h2>
			<p>Una empresa de servicios para centros con personal cualificado
				y maquinaria médico estética.
			</p>
		</div>
		<div class="pregunta-que-hacemos">
			<h2>¿Qué hacemos?</h2>
			<p>Concertamos un día en el que usted citará a sus clientes y nosotros
				les atenderemos según la solicitud o necesidad de cada uno.
			</p>
		</div>
	</div>
</section>

<div class="image-parallax">
	<svg viewBox="0 0 717 80" class="transition transition--abs transition--top"><path d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z"></path></svg>
	<svg viewBox="0 0 717 80" class="transition transition--abs transition--bottom"><path d="M5.68434189e-14,80.3951975 L719.999989,80.3951975 L720,0 L5.68434189e-14,80.3951975 Z"></path></svg>
</div>

<section class="caracteristicas">
	<h2>Características</h2>

	<div class="cards-container">
		<div class="card">
			<div class="description-image"></div>
			<p>Disponemos de la mejor maquinaria médico estética con la cual podrá ofrecer
				a sus clientes gran variedad de tratamientos.
			</p>
		</div>
		<div class="card">
			<div class="description-image"></div>
			<p>
				Ofrecemos un alto porcentaje de beneficio, simplemente citando a sus clientes 
				en el centro un día concertado y cediéndonos un espacio donde poder trabajar. 
			</p>
		</div>
		<div class="card">
			<div class="description-image"></div>
			<p>
				Contamos con profesionales cualificados para asegurar la satisfacción de sus clientes.
			</p>
		</div>
		<div class="card">
			<div class="description-image"></div>
			<p>
				Incrementamos la clientela de nuestros centros debido a la satisfacción de los clientes 
				por los resultados obtenidos.
			</p>
		</div>
	</div>

</section>

<section class="servicios">
	<svg viewBox="0 0 717 80" class="transition transition--abs transition--top"><path d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z"></path></svg>
	<div class="dark"></div>
	<div class="content">
		<h2>Tratamientos</h2>
		<div class="list-container">
			<div class="facial">
				<h3>Faciales</h3>
				<ul>
					<li>Fotorrejuvenecimiento</li>
					<li>Despigmentante</li>
					<li>Cuperosis</li>
					<li>Acné</li>
					<li>Bioestimulación</li>
					<li>Mesoterapia Virtual: penetración de vitaminas a través de electroporación</li>
					<li>Dermapen: penetración de vitaminas a través de micro agujas</li>
					<li>Radiofrecuencia: lifting facial sin cirugía (Corrientes electromagnéticas)</li>			
				</ul>
			</div>
			<div class="corporal">
				<h3>Corporales</h3>
				<ul>
					<li>Reducir grasa y reafirmar la piel a través de:</li>
					<li>Cavitación</li>
					<li>Vacumterapia - radiofrecuencia</li>
					<li>Radiofrecuencia tripolar</li>
					<li>Presoterapia: drenaje linfático</li>
					<li>Mesoterapia Virtual</li>
					<li>Dermapen: ayuda a disolver nódulos grasos</li>		
				</ul>
			</div>
			<div class="fotodepilacion">
				<h3>Fotodepilación IPL</h3>
				<ul>
					<li>Por zonas</li>	
					<li><a href="./tratamientos-fotodepilacion.pdf">Ver tratamientos y precios para clientes</a></li>
				</ul>
			</div>
		</div>
	</div>	
	<svg viewBox="0 0 717 80" class="transition transition--abs transition--bottom"><path d="M5.68434189e-14,80.3951975 L719.999989,80.3951975 L720,0 L5.68434189e-14,80.3951975 Z"></path></svg>
</section>

<section class="contacto">
	<div class="container">
		<div class="text-contacto">
			<h2>Contacto</h2>
			<p>
				Para cualquier información póngase en contacto con nosotros en el siguiente formulario.
			</p>
		</div>
		<div class="text-comercial">
			<h2>Zona Comercial</h2>
			<p>
				Estamos situados en Valencia capital y damos los servicios a centros situados en las provincias de
				Valencia y Castellón.
			</p>
		</div>
	</div>
<form class="form-style-4" action="mailto:e.gomis15@hotmail.es" method="post" enctype="text/plain">
	<label for="name">
		<span>Nombre</span><input id="name" type="text" value="Eva Maria Gomis Moreno" readonly="readonly" name="name" required>
	</label>
	<label for="email">
		<span>Email</span><input id="email" value="e.gomis15@hotmail.es" readonly="readonly" type="email" name="mail" required>
	</label>
</form>
</section>

<footer>
	<div class="container">
		<a href="https://www.facebook.com/sharer/sharer.php?u=http://vorealestetica.es">
			<img src="./images/social-facebook.svg" alt="Icono Facebook"/>
		</a>
		<a href="https://twitter.com/?status=Me%20gusta%20esta%20pagina%20http://vorealestetica.es">
			<img src="./images/social-twitter.svg" alt="Icono Twitter"/>
		</a>
		<a href="https://plus.google.com/share?url=http://vorealestetica.es">
			<img src="./images/social-google-plus.svg" alt="Icono Google+"/>
		</a>
		<a href="http://www.linkedin.com/shareArticle?url=http://vorealestetica.es">
			<img src="./images/social-linkedin.svg" alt="Icono linkedin"/>
		</a>
	</div>
</footer>

{% endblock %}
