@import "normalize";
@import "./base/mixins";

@import url('https://fonts.googleapis.com/css?family=Lato:400,300');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/* Base */
html, body {
  height: 100%;
}

$title-color: #eeede9;

/* Reset */
html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 80%;
    color: #3D3C40;
}
.transition {
    z-index: 110;
    pointer-events: none;
    display: block;
    width: 100%;
    height: auto;
}
.transition--abs {
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.transition--bottom {
    top: initial;
    bottom: 0;
}
// My styles
.intro{
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    background-color: #ccc;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    //background-attachment: fixed;
    background-image: url(../images/sirena-intro-L.jpg);
    .title {
        position: relative;
        display: block;
        margin: 0 auto;
        top: 20vh;
        path {
            fill-opacity: 0;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke: #{$title-color};
            stroke-width: 1;
        }
        // Animacion escritura titulo
        $step-time: 0;
        @for $i from 1 through 15 {
            path:nth-child(#{$i}) {
                animation: writing 1.0s ease-in forwards #{$step-time}s;
                $step-time: $step-time + 0.4;
            }
        }
    }
    svg path{
        fill: #{$title-color}; 
    }
}

.about-company {
    position: relative;
    height: 600px;
    background-color:#eeede9;
}

@keyframes writing {
	0% {
		stroke-dashoffset: 1000;
	}
    40%{
        fill-opacity: 0
    }
	100% {
		stroke-dashoffset: 0;
        fill-opacity: 1;
	}
}
// ****  Mobil ****
@media only screen and (max-width: 767px) {
  body {
    background-image: url(../images/sirena-intro-S.jpg);
  }
}