

// Triangle svg
.transition {
    z-index: 110;
    pointer-events: none;
    display: block;
    width: 100%;
    height: auto;
}
.transition--abs {
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.transition--bottom {
    top: initial;
    bottom: 0;
}
.transition--top {
    top: 0;
}
// Writing svg
@keyframes writing {
	0% {
		stroke-dashoffset: 1000;
	}
    40%{
        fill-opacity: 0
    }
	100% {
		stroke-dashoffset: 0;
        fill-opacity: 1;
	}
}