
// ****  Mobil ****
@media only screen and (max-width: 767px) {
  .intro {
    background-image: url(../images/sirena-intro-S.jpg);
    .title {
      top: 10vh;
    }
  }
  .preguntas {
    .preguntas-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      .pregunta-que-somos, .pregunta-que-hacemos {
        margin: 0;
        width: 90%;
      }
    }
  }

  .image-parallax, .image-parallax2 {
      background-image: url(../images/beach.jpg);
      height: 400px;
  }

  .caracteristicas .cards-container .card {
    width: 90%;
    margin: 5%;
    height: 300px;
  }
}

// Optional min-device-width
// **** Tablet ****
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)  {

       .caracteristicas .cards-container .card {
          width: 40%;
          margin: 5%;
          height: 300px;
      }
}