
// ****  Mobil ****
@media only screen and (max-width: 767px) {
  /*.intro {
    background-image: url(../images/sirena-intro-S.jpg);
    .title {
      top: 20vh;
    }
    .arrow-down {
      top: 70vh;
      animation: vertical 1.2s linear infinite;
    }
  }*/
  .preguntas, .contacto {
    .preguntas-container, .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      .pregunta-que-somos, .pregunta-que-hacemos, 
      .text-contacto, .text-comercial {
        margin: 0;
        width: 90%;
      }
    }
  }

  .image-parallax, .image-parallax2 {
      background-image: url(../images/beach.jpg);
      height: 400px;
  }
  .caracteristicas {
    h2 {
      margin-top: 2em;
    }
    .cards-container{
      margin-top: 3em;
    }
    .cards-container .card {
      width: 90%;
      margin: 10px;
    }
  }
  .servicios {
    .content h2 {
      margin-top: 4em;
    }
    .content .list-container {
      margin-top: 1em;
    }
  }

  .contacto .container .text-contacto{
    order: 2;margin:5em;
  }
  .contacto .form-style-4 {
    margin: 2em;
  }
}

// Optional min-device-width
// **** Tablet ****
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)  {

       .caracteristicas .cards-container .card {
          width: 40%;
          margin: 5%;
          height: 300px;
      }
}