
// My Styles
body{
    overflow-x: hidden;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 80%;
    //color: #3D3C40;
}

.intro{
    overflow: hidden;

    position: relative;
    width: 100vw;
    height: 100vh;
    
    background-color: #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(../images/sirena-intro-L.jpg);
    .title {
        position: relative;
        top: 20vh;
        display: block ;    
        margin: 0 auto;
        width: 80vw;
        // Estilos previos a animacion
        path {
            fill: #{$title-color};
            fill-opacity: 0;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke: #{$title-color};
            stroke-width: 1;
        }
        // Animacion escritura titulo
        $step-time: 0;
        @for $i from 1 through 15 {
            path:nth-child(#{$i}) {
                animation: writing 1.0s ease-in forwards #{$step-time}s;
                $step-time: $step-time + 0.4;
            }
        }
    }
    .arrow-down {
        position: relative;
        display: block ;    
        margin: 0 auto;
        width: 3em;
        top: 60vh;
        animation: vertical 1.2s linear infinite;
        img {
            width: 3em;
            opacity: 0;
            animation: fadein 2s ease-in forwards;
            animation-delay: 2s;
        }
    }
    .transition path {
        fill:#{$secondary-color};
    }
}
.preguntas {
    position: relative;
    background-color:#{$secondary-color};

    display: flex;
    align-items: center;
    //height: 100vh;
    min-height: 600px;

    .preguntas-container{
        display: flex;
        align-items: center;

        padding: 0 1em;
        margin-left: auto;
        margin-right: auto;

        .pregunta-que-somos {       
            width: calc(99.99% * 1/2 - (30px - 30px * 1/2));   
            text-align: right;
            margin-right: 0.5em;

            h2 {
                color: #847d75;
                font-size: 2.375rem;
                font-weight: 300;
            }
            p{
                font-size: 1.5rem;
                font-weight: 300;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                padding-right: 1em;
                border-right: solid 2px #cec3b5;
            }
        }
        .pregunta-que-hacemos {       
            width: calc(99.99% * 1/2 - (30px - 30px * 1/2));   
            margin-left: 0.5em;
            h2 {
                color: #847d75;
                font-size: 2.375rem;
                font-weight: 300;
            }
            p{
                font-size: 1.5rem;
                font-weight: 300;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                padding-left: 1em;
                border-left: solid 2px #cec3b5;
            }
        }
    }

}
.image-parallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-image: url(../images/beach.jpg);
    height: 700px;

    .transition path {
        fill:#{$secondary-color};
    }
    .transition:last-child path {
        fill:#{$secondary-color};
    }
}
.caracteristicas {
    position: relative;
    background-color: #{$secondary-color};
    padding: 2em 2em;
    min-height: 800px;

    h2 {
        display: block;
        text-align: center;
        width: 10em;
        margin: 0 auto;

        font-family: "Amarillo";
        color: #847d75;
        font-size: 1.5rem;
        font-weight: 300;
        border-bottom: solid 2px #cec3b5;
    }
    .cards-container {
        margin-top: 7em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
        .card {
            display: block;       
            height: 400px;
            width: 22%;
            border: solid 2px #cec3b5;
            //border-radius: 10px;
            overflow: hidden;
            padding-bottom: 1em;

            .description-image {              
                width: 100%;
                height: 60%;
                margin: 0 auto;
                background-color: #cec3b5;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-bottom: solid 1px #cec3b5;
            }

            p{
                position: relative;
                top: 8%;
                left: 5%;
                width: 90%;
                text-align: center;
                font-size: 1rem;
                font-weight: 300;
            }

            &:nth-child(1) .description-image{
                background-image: url(../images/mesoterapia-virtual.jpg);                                                    
            }
            &:nth-child(2) .description-image{
                background-image: url(../images/money.jpg);                                                    
            }
            &:nth-child(3) .description-image{
                background-image: url(../images/business.jpg);                                                    
            }
            &:nth-child(4) .description-image{
                background-position: top left;
                background-image: url(../images/happy.jpg);                                                    
            }
        }
    }
    .transition path {
        fill:#{$secondary-color};
    }

}

.servicios {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-image: url(../images/beach.jpg);
    height: 750px;

    .dark {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.7;
    }
    .content {
        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        
        h2 {
            text-align: center;
            width: 10em;
            margin: 0 auto;
            font-family: "Amarillo";
            font-size: 1.5rem;
            font-weight: 300;
            border-bottom: solid 2px white;
        }

        .list-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 5em;
            padding: 10px;

            a {
                color: lightgrey;
            }
            .corporal li:first-child {
                margin-left: -2em;
                list-style: none;
            }
        }
    }
 
    .transition path {
        fill:#{$secondary-color};
    }
    .transition:last-child path {
        fill:#{$secondary-color};
    }
}

.contacto {
    position: relative;
    background-color:#{$secondary-color};
    display: flex;
    align-items: center;
    flex-direction: column;

    .container{
        display: flex;
        align-items: center;
        padding: 0 1em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5em;

         .text-contacto {       
            width: calc(99.99% * 1/2 - (30px - 30px * 1/2));    
            margin-right: 0.5em;

            h2 {
                font-family: "Amarillo";
                color: #847d75;
                font-size: 2rem;
                font-weight: 300;
                text-align: center;
            }
            p{
                font-size: 1.5rem;
                font-weight: 300;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                padding-right: 1em;
                border-right: solid 2px #cec3b5;
                text-align: right;
            }
        }
        .text-comercial {       
            width: calc(99.99% * 1/2 - (30px - 30px * 1/2));   
            margin-left: 0.5em;
            h2 {
                font-family: "Amarillo";
                color: #847d75;
                font-size: 2rem;
                font-weight: 300;
                text-align: center;
            }
            p{
                font-size: 1.5rem;
                font-weight: 300;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                padding-left: 1em;
                border-left: solid 2px #cec3b5;
                text-align: left;
            }
        }
    }
    // Form
    .form-style-4{
        width: 80%;
        max-width: 500px;
        font-size: 16px;
        background: #495C70;
        padding: 30px 30px 15px 30px;
        border: 5px solid #53687E;
        margin: 5%;
        margin-bottom: 5em;
    }
    .form-style-4 input[type=submit],
    .form-style-4 input[type=button],
    .form-style-4 input[type=text],
    .form-style-4 input[type=email],
    .form-style-4 textarea,
    .form-style-4 label
    {
        color: #fff;

    }
    .form-style-4 label {
        display:block;
        margin-bottom: 10px;
    }
    .form-style-4 label > span{
        display: inline-block;
        float: left;
        width: 120px;
    }
    .form-style-4 input[type=text],
    .form-style-4 input[type=email] 
    {
        background: transparent;
        border: none;
        border-bottom: 1px dashed #83A4C5;
        width: 100%;
 
        outline: none;
        padding: 0px 0px 0px 0px;
        font-style: italic;
    }
    .form-style-4 textarea{
        font-style: italic;
        padding: 0px 0px 0px 0px;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px dashed #83A4C5;
        width: 100%;
   
        overflow: hidden;
        resize:none;
        height:20px;
    }

    .form-style-4 textarea:focus, 
    .form-style-4 input[type=text]:focus,
    .form-style-4 input[type=email]:focus,
    .form-style-4 input[type=email] :focus
    {
        border-bottom: 1px dashed #D9FFA9;
    }

    .form-style-4 input[type=submit],
    .form-style-4 input[type=button]{
        display: block;
        margin: 0 auto;
        background: #576E86;
        border: none;
        padding: 8px 10px 8px 10px;
        border-radius: 5px;
        color: #A8BACE;
    }
    .form-style-4 input[type=submit]:hover,
    .form-style-4 input[type=button]:hover{
    background: #394D61;
    }
}

footer {
    position: relative;
    height: 100px;
    background-color: #{$third-color};
}

