
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Lato:400,300');
//@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
//@font-face { 
//    font-family: "Amarillo"; 
//    src: url('../fonts/Amarillo.ttf'); 
//}
//Variables
$title-color: white;
$primary-color: #eeede9;
$secondary-color: white;
$third-color: #cec3b5;

// Mixins
$prefixes: "webkit", "moz", "ms", "o", "none";
@mixin prefix($property, $arguments) {
 @each $prefix in $prefixes {
   @if $prefix == "none" {
     #{$property}: $arguments;
   } @else {
     -#{$prefix}-#{$property}: $arguments;
   } 
 }
}
//@include prefix(propiedad, valor);